    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>GitHub</h2>
                    <p>Você pode obter e contribuir para o nosso projeto através do GitHub.</p>
                    <a href="https://github.com/gestaolivre/gestaolivre" class="btn btn-default btn-lg">Visite Nosso Projeto</a>
                </div>
            </div>
        </div>
    </section>